In [1]:
import pandas as pd

# 读取数据
df = pd.read_csv("/content/data.csv",
                 encoding='latin-1',  # 核心：解决编码问题
                 )

# 查看数据
print("数据加载成功！前5行示例：")
df.head()

数据加载成功！前5行示例：

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [6]:
# 查看数据基本信息
print("数据概览：")
df.info()
df.isnull().sum()#统计各列缺失值

数据概览：
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [7]:
# 复制数据，避免修改原始 DataFrame
cleaned_df = df.copy()

# 删除 `CustomerID` 为空的行（无法用于分析）
cleaned_df = cleaned_df.dropna(subset=['CustomerID'])

# 转换 `InvoiceDate` 为 `datetime` 格式，保证后续 SQL 分析、可视化和机器学习任务顺利进行
cleaned_df["InvoiceDate"] = pd.to_datetime(cleaned_df["InvoiceDate"])

# 计算订单总金额（TotalAmount）
cleaned_df["TotalAmount"] = cleaned_df["Quantity"] * cleaned_df["UnitPrice"]

# **保存聚类结果**
cleaned_df.to_csv("/content/cleaned_data.csv", index=False)
print("✅ 数据清洗成功，结果已保存到 cleaned_data.csv")

# 显示前5行数据
print("必要清洗操作完成，前5行数据如下：")
print(cleaned_df.head())
cleaned_df.info()

✅ 数据清洗成功，结果已保存到 cleaned_data.csv
必要清洗操作完成，前5行数据如下：
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalAmount
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom        15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom        20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom        22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom        20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom        20.34
<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  datetime64[ns]
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
 8   TotalAmount  406829 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 31.0+ MB